@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Yatra+One');

html, body, #__layout, #__nuxt {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: $color-2;
}

#app {
  height: 100%;
  display: grid;

  grid-template:
    [row1-start] "logo header" $header-height [row1-end]
    [row2-start] "menu content" auto [row2-end]
    / $sidebar-width auto;
}

#content {
  grid-area: content;
  padding: 30px;
}

#header {
  grid-area: header;
  background: $color-4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;

  a {
    color: $color-3;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
  }

  .user {
    display: flex;
    align-items: center;

    .avatar {
      margin-left: 10px;
    }
  }
}

#navigation {
  grid-area: menu;
  padding: 20px 10px;
  background: $color-3;
  color: white;

  ul { 
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
  }
}

#title {
  grid-area: logo;
  background: $color-1;
  color: $color-3;
  margin: 0;
  position: relative;
  text-align: center;
  line-height: $header-height;
  font-family: 'Yatra One', cursive;
  font-size: 38px;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px ($sidebar-width / 2) 0 ($sidebar-width / 2);
    border-color: $color-1 transparent transparent transparent;
    bottom: -10px;
    left: 0;
  }
}
